<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <style>
        
    </style>
    <title>Template</title><link rel="stylesheet" href="">
</head>
<body class="">
    <header>
        <nav class="">
            <ol class="">
                <li class=""><div><img src="/" alt="Logotipo"></div></li>
                <li class=""><div><a href="/"><p>X</p></a></div></li>
            </ol>
        </nav>
    </header>
    <section class="">
        <article class="">
        </article>
        <article class="">
        </article>
    </section>
    <footer class="">
        <ul class="">
          <li class=""><img src="/site_web/multimedia/index/banner.jpeg" alt="Logo"></li>
          <li>
            <p>Copyright Licence - BarberShop</p>
            <p>Created by <a class="enlace" href="https://gravatar.com/cafeconalejo">Pixelcraft</a></p>
          </li>
          <li class=""><a href="#">Instagram de Barber Shop</a></li> <!--Instagram del negocio-->
        </ul>
    </footer>
</body>
</html>