<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/template/template.css">
    <title>Template</title><link rel="shortcut icon" href="/site_web/multimedia/index/FAVICON.png" type="image/x-icon">Z
</head>
<body class="">
    <header>
        <nav class="mt-5">
            <ol class="flex justify-around">
                <li class=""><div><img src="/" alt="Logotipo"></div></li>
                <li class=""><div><a href="/"><p>F&Q</p></a></div></li>
            </ol>
        </nav>
    </header>
    <section class="">
        <article class="">
        </article>
        <article class="">
        </article>
    </section>
    <footer class="mt-25">
        <ul class="flex justify-aroun">
          <li class=""><img src="/site_web/multimedia/index/banner.jpeg" alt="Logo"></li>
          <li>
            <p>Copyright Licence - Reservation</p>
            <p>Created by <a class="enlace" href="https://gravatar.com/cafeconalejo">Pixelcraft</a></p>
          </li>
          <li class=""><a href="#">Restaurant's Instagram</a></li> <!--Instagram del negocio-->
        </ul>
    </footer>
</body>
</html>