.tables{
    cursor:pointer;
    transition-duration:270ms;
    padding:57px;
    background-image:url("/site_web/multimedia/reservation/mesa-sin-reservar.png");
    background-repeat:no-repeat;
    background-size:cover;
}
.tables-ok{
    cursor:default;
    transition-duration:250ms;
    padding:57px;
    background-image:url("/site_web/multimedia/reservation/mesa-reservada.png");
    background-repeat:no-repeat;
    background-size:cover;}
.tables:hover{
    transition-duration:250ms;
    background-image:url("/site_web/multimedia/reservation/mesa-hover.png");
}
.kitchen{
    cursor:default;
    transition-duration:250ms;
    padding:30px;
    background-image:url("/site_web/multimedia/reservation/kitchen.png");
    background-repeat:no-repeat;
    background-size:cover;
}
.landscape{
    cursor:default;
    transition-duration:250ms;
    padding:30px;
    position:absolute;
    margin-left: 120px;
    margin-top:145px;
    background-image:url("/site_web/multimedia/reservation/rural.png");
    background-repeat:no-repeat;
    background-size:cover;
}
.scapeland{
    cursor:default;
    transition-duration:250ms;
    padding:30px;
    position:absolute;
    margin-left: 90%;
    margin-top:145px;
    background-image:url("/site_web/multimedia/reservation/escalera.png");
    background-repeat:no-repeat;
    background-size:cover;
}
.scape{
    cursor:default;
    transition-duration:250ms;
    padding:30px;
    background-image:url("/site_web/multimedia/reservation/rural.png");
    background-repeat:no-repeat;
    background-size:cover;
}
.exit{
    cursor:default;
    transition-duration:250ms;
    padding:30px;
    background-image:url("/site_web/multimedia/reservation/no-hay-entrada.png");
    background-repeat:no-repeat;
    background-size:cover;
}
.pisos{
    font-size:20px;
}
.admin{
    transition-duration:250ms;
    background-position:cover;
    background-repeat:no-repeat;
    background-image:url(/site_web/multimedia/reservation/empleado-del-mes.png);
    background-size:cover;
    padding:25px;
}
.admin:hover{
    background-image:url(/site_web/multimedia/reservation/empleado-del-mes-we.png);
}
.tooltip-css{
    position: absolute;
    transform: translateX(-50%);
    color: #2fff0000;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left:8px;
    padding-right:8px;
    font-size: 15px;
    white-space: nowrap;
    z-index: 100;
    transition-duration:200ms;
}
.tooltip-css:hover{
    color: rgba(255, 255, 255, 0.726);
    background: rgba(0,0,0,0.8);
    border-radius:16px;
    display:block;
    position:absolute;
}
