.tables{
    cursor:pointer;
    transition-duration:270ms;
    padding:57px;
    background-image:url("/site_web/multimedia/reservation/mesa-sin-reservar.png");
    background-repeat:no-repeat;
    background-size:cover;
}
.tables-ok{
    cursor:default;
    transition-duration:250ms;
    padding:57px;
    background-image:url("/site_web/multimedia/reservation/mesa-reservada.png");
    background-repeat:no-repeat;
    background-size:cover;}
.tables:hover{
    transition-duration:250ms;
    background-image:url("/site_web/multimedia/reservation/mesa-hover.png");
}
.kitchen{
    cursor:default;
    transition-duration:250ms;
    padding:30px;
    background-image:url("/site_web/multimedia/reservation/kitchen.png");
    background-repeat:no-repeat;
    background-size:cover;
}
.landscape{
    cursor:default;
    transition-duration:250ms;
    padding:30px;
    position:absolute;
    margin-left: 120px;
    margin-top:145px;
    background-image:url("/site_web/multimedia/reservation/rural.png");
    background-repeat:no-repeat;
    background-size:cover;
}
.scapeland{
    cursor:default;
    transition-duration:250ms;
    padding:30px;
    position:absolute;
    margin-left: 90%;
    margin-top:145px;
    background-image:url("/site_web/multimedia/reservation/escalera.png");
    background-repeat:no-repeat;
    background-size:cover;
}
.scape{
    cursor:default;
    transition-duration:250ms;
    padding:30px;
    background-image:url("/site_web/multimedia/reservation/rural.png");
    background-repeat:no-repeat;
    background-size:cover;
}
.exit{
    cursor:default;
    transition-duration:250ms;
    padding:30px;
    background-image:url("/site_web/multimedia/reservation/no-hay-entrada.png");
    background-repeat:no-repeat;
    background-size:cover;
}
.pisos{
    font-size:20px;
}
.admin{
    transition-duration:250ms;
    background-position:cover;
    background-repeat:no-repeat;
    background-image:url(/site_web/multimedia/reservation/empleado-del-mes.png);
    background-size:cover;
    padding:25px;
}
.admin:hover{
    background-image:url(/site_web/multimedia/reservation/empleado-del-mes-we.png);
}