.tables{
    transition-duration:200ms;
    padding:57px;
    max-width:40px;
    background-image:url("/site_web/multimedia/reservation/mesa-sin-reservar.png");
    background-repeat:no-repeat;
    background-size:cover;
}
.tables-ok{
    cursor:grab;
    transition-duration:250ms;
    padding:53px;
    max-width:40px;
    background-image:url("/site_web/multimedia/reservation/mesa-reservada.png");
    background-repeat:no-repeat;
    background-size:cover;}
.tables:hover{
    cursor:grab;
    transition-duration:250ms;
    padding:57px;
    max-width:40px;
    background-image:url("/site_web/multimedia/reservation/mesa-hover.png");
    background-repeat:no-repeat;
    background-size:cover;
}
.kitchen{
    cursor:default;
    transition-duration:250ms;
    padding:30px;
    max-width:40px;
    background-image:url("/site_web/multimedia/reservation/kitchen.png");
    background-repeat:no-repeat;
    background-size:cover;
}
.landscape{
    cursor:default;
    transition-duration:250ms;
    padding:30px;
    max-width:40px;
    position:absolute;
    margin-left: 120px;
    margin-top:145px;
    background-image:url("/site_web/multimedia/reservation/rural.png");
    background-repeat:no-repeat;
    background-size:cover;
}
.scapeland{
    cursor:default;
    transition-duration:250ms;
    padding:30px;
    max-width:40px;
    position:absolute;
    margin-left: 90%;
    margin-top:145px;
    background-image:url("/site_web/multimedia/reservation/escalera.png");
    background-repeat:no-repeat;
    background-size:cover;
}
.scape{
    cursor:default;
    transition-duration:250ms;
    padding:30px;
    max-width:40px;
    background-image:url("/site_web/multimedia/reservation/rural.png");
    background-repeat:no-repeat;
    background-size:cover;
}
.exit{
    cursor:default;
    transition-duration:250ms;
    padding:30px;
    max-width:40px;
    background-image:url("/site_web/multimedia/reservation/no-hay-entrada.png");
    background-repeat:no-repeat;
    background-size:cover;
}
.pisos{
    font-size:20px;
}