article option{
    text-align: center;
    color:black;
}
/* Tooltip First Table */
.tooltip11 {
    bottom: 54vh; /* In the table*/
    left: 66.7vh;
}
/* Tooltip Second Table */
.tooltip12 {
    bottom: 54vh; /* In the table*/
    left: 108.5vh;
}

/* Tooltip Third Table */
.tooltip13 {
    bottom: 54vh; /* In the table*/
    left: 150.5vh;
}

/* Tooltip Four Table */
.tooltip14 {
    bottom: 34vh; /* In the table*/
    left: 59.5vh;
}

/* Tooltip Five Table */
.tooltip15 {
    bottom: 34vh; /* In the table*/
    left: 108.5vh;
}

/* Tooltip Six Table */
.tooltip16 {
    bottom: 34vh; /* In the table*/
    left: 158vh;
}

/* Tooltip Seven Table */
.tooltip17 {
    bottom: 15vh; /* In the table*/
    left: 66.7vh;
}

/* Tooltip Eigth Table */
.tooltip18 {
    bottom: 15vh; /* In the table*/
    left: 108.5vh;
}

/* Tooltip Nine Table */
.tooltip19 {
    bottom: 15vh; /* In the table*/
    left: 150.5vh;
}